.hide {
  display: none;
}

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  background-image: linear-gradient(180deg, rgb(186, 186, 255), rgb(190, 190, 190));
  max-width: 500px;
  height: fit-content;
  border-radius:  15px;
  margin: 10px 0px;
}

.erase-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.eraseX {
  cursor: pointer;
}



.title-card {
  
  font-size: 20px;
 font-weight: bold;
}

.text-insert {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.text-insert input {
  font-size: 16px;
  width: 200px;
  margin: 10px 0px;
}  

.text-insert textarea {
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
  resize: none;
}

.cards {
  max-width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}


