* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hide {
  display: none;
}

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient(180deg, rgb(220, 220, 255), rgb(240, 239, 255));
  max-width: 500px;
  height: fit-content;
  border-radius:  15px;
  margin: 10px 0px;
  box-shadow: 5px 5px 10px rgba(170, 173, 182, 0.8);
}

.erase-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.eraseX {
  cursor: pointer;
}



.title-card {
  
  font-size: 20px;
 font-weight: bold;
}

.text-card {
  word-wrap: break-word;
}

.text-insert {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.text-insert input {
  font-size: 20px;
  width: 200px;
  margin: 10px 0px;
  border-style: none;
  outline: none;
  border-bottom: 2px solid gray;
  padding: 10px;
}  

.text-insert textarea {
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
  resize: none;
  border-style: none;
  outline: none;
  border-bottom: 2px solid gray;
  padding: 10px;
}

.cards {
  max-width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}


